
.App {
  text-align: center;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background: white;
}

.controls-container {
  max-width: 25vw;
  margin: 2%;
}

@media only screen and (max-width: 767px) {
  .controls-container {
    max-width: 100vw;
  }
}

.button-container {
  padding: 2%;
}

.button-container > button {
  margin: 2%;
}

.grid-container {

}

.grid {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(39, 1fr);
  grid-auto-rows: 17px;
}

@media only screen and (max-width: 767px) {
  .grid {
    width: 100vw;
    grid-template-columns: repeat(39, 1fr);
    grid-auto-rows: 10px;
  }
}

label {
  font-weight: 700;
}

h2,
h3,
label {
  font-family: 'Press Start 2P', cursive;
}

ol {
  text-align: left;
}